@import '../../../styles/index';

.desktopFoldersWrapper {
  position: absolute;
  top: 2.5rem;
  left: 0.3rem;
  line-height: 1.2rem;

  padding: 0 0.5rem;

  .desktopFolder {
    text-align: center;
    margin-bottom: 2.2rem;

    img {
      cursor: not-allowed;
      margin-bottom: 0.2rem;
    }
    p {
      cursor: default;
    }
  }
}
.desktopBinFolder {
  z-index: 2000;
  position: absolute;
  bottom: 12rem;
  right: 2rem;

  text-align: center;
  line-height: 1.1rem;

  img {
    cursor: pointer;
    margin-bottom: 0.2rem;
  }
  p {
    cursor: default;
  }
}

.navBarWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 40px;

  position: fixed;
  bottom: 0;

  background: $silver;
  border-top: 2px outset $white;

  padding: 0 0.3rem;

  .navBarStartButton {
    @include startButton;
  }

  .navBarPageSwitcher {
    @include button;
    font-weight: 700;

    padding: 0.4rem 0.7rem;
    margin-right: 0.2rem;
  }
}

.clippy {
  z-index: 2000;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 140px;
  height: 128px;

  font-size: 1rem;
  text-indent: 0.4rem;

  color: $white;
  cursor: pointer;
  background: url('../../../static/img/clippy.png') no-repeat;
  background-size: contain;

  padding-top: 0.45rem;

  &:hover {
    animation: shake 0.5s infinite;
  }
}
.paint {
  z-index: 1;

  position: absolute;
  top: 4rem;
  right: -15rem;
  width: 681px;
  height: 460px;
  background: url('../../../static/img/paint.png');
}