@import '../../../../styles/vars';

.pokemonStoreWrapper {
  position: relative;
  z-index: 1000;
}

.pokemonList {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.pokemonCard {
  color: $black;

  border: 2px solid $white;
  border-right-color: $border-color;
  border-bottom-color: $border-color;
  background: $silver;

  margin: 1rem 1rem 0 1rem;

  &Content {
    font-weight: 600;
    padding: 0.4rem 0.8rem;
  }

  &Title {
    color: $white;
    text-transform: capitalize;
    background: $blue;

    padding: 0.3rem;
  }

  &Photo {
    border: 2px inset $white;
    border-radius: 1px;
    margin-bottom: 1rem;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  &Button {
    @include button;

    padding: 0.3rem 0 0.2rem;
    margin-top: 1rem;
  }
}

.paginationWrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  width: 290px;
  height: 95px;

  background-image: url('../../../../static/img/pagination.png');

  margin: 0 auto 4rem;
}

.pagination {
  max-width: 268px;
  padding-top: 2.4rem;
  margin: 0 auto;
}

.progressBar {
  @include progressBar;
}
