@import '../../../../styles/index';

.progressBar {
  @include progressBar;
}

.storeFolderTitle,
.storeFolderWrapper {
  z-index: 1000;
  position: relative;
  max-width: 84vw;
}
.storeFolderTitle {
  @include folderHeader;
  font-weight: 400;
}
.storeFolderWrapper {
  @include folderWrapper;
  padding: 0.5rem 1rem 1rem;
}

.storeFolderPokemonList {
  display: flex;
  flex-wrap: wrap;
}

.pokemonCard {
  color: $black;
  @include borderInset;
  margin: 0.8rem;

  &Title {
    color: $white;
    font-weight: 600;
    text-transform: capitalize;

    cursor: pointer;
    background: $border-color;

    padding: 0.4rem 0.4rem 0.3rem;
  }

  &Content {
    padding: 0.6rem 0.8rem 0.6rem;
  }

  &Photo {
    @include borderInset;
    margin-bottom: 1rem;

    img {
      display: block;
      cursor: pointer;
    }
  }

  &Button {
    @include button;
    width: 100%;

    color: $white;
    background-color: $yellow;

    padding: 0.35rem 0 0.3rem;
    margin: 1rem auto 0;
  }
}

.paginationWrapper {
  position: fixed;
  z-index: 9000;
  bottom: 4rem;
  right: 40vw;

  background: $blue;
  @include borderOutset(2px);

  .pagination {
    display: inline-block;
    background-color: $silver;

    padding: 0.7rem;
    margin: 0.9rem auto 0;
  }
}