@import '../../../../styles/vars';

.pokemonList {
  display: flex;
  flex-wrap: wrap;
}

.pokemonCard {
  color: $black;

  border: 2px solid $white;
  border-right-color: $border-color;
  border-bottom-color: $border-color;
  background: $silver;

  margin: 1rem;

  &Content {
    font-weight: 600;
    padding: 0.5rem 0.8rem;
  }

  &Title {
    color: $white;
    text-transform: capitalize;
    background: $blue;

    padding: 0.3rem;
  }

  &Photo {
    border: 2px inset $white;
    border-radius: 1px;
    margin-bottom: 1rem;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  &Button {
    width: 100%;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-right-color: $border-color;
    border-bottom-color: $border-color;
    border-radius: 1px;

    transition: 0.1s ease;

    padding: 0.3rem 0 0.2rem;
    margin-top: 1rem;

    &:hover {
      border: 2px inset $white;
      background: $silver;
      color: $black;
      box-shadow: -1px -1px $black;
    }
    &:active {
      background: url("../../../../assets/img/background.bmp");
    }
  }
}