@import '../../../../styles/index';

.detailsPage {
  z-index: 1000;
  position: relative;
}
.pokemonDetailsTitle {
  @include folderHeader;
  max-width: 50vw;
}

.pokemonDetailsWrapper {
  @include folderWrapper;
  max-width: 50vw;

  padding: 1rem 2rem;

  .pokemonDetailsPreview {
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;

    img {
      border: 2px inset $white;
      border-radius: 1px;
      margin-top: 1rem;
    }
  }
}

.statsTitle,
.abilitiesTitle {
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: underline;
}
.abilitiesTitle {
  margin-top: 2rem;
}

.statsWrapper {
  display: flex;
  flex-wrap: wrap;

  border: 2px inset $white;
  border-radius: 1px;

  margin-top: 0.5rem;

  .statsContent {
    width: 33.33333%;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
  }
  .statTitle {
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-top: 0.6rem;
  }
  .statValue {
    font-size: 1.4rem;
    margin-top: 0.5rem;
  }
}

.abilitiesWrapper {
  border: 2px inset $white;
  border-radius: 1px;
  margin-top: 0.5rem;

  .abilitiesContent {
    padding: 0.5rem 1rem;
  }

  .abilityTitle {
    font-size: 1.2rem;
    text-transform: capitalize;
  }
  .abilityDescription {
    font-size: 1.1rem;
    line-height: 1.4rem;
    text-align: justify;
    margin-top: 0.4rem;
  }
}

.progressBar {
  @include progressBar;
}

.addToCart {
  &Wrapper {
    text-align: center;
    margin-top: 2rem;
  }

  &Title {
    font-size: 1.2rem;
  }

  &Button {
    @include button;
    font-size: 1.2rem;
    font-weight: 600;

    margin-top: 1rem;
    padding: 0.5rem 1rem;
  }
}