@import 'vars';
@import 'fonts';

* {
  border: 0;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none
}

a:focus, a:active {
  outline: none
}

html, body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 16px
}

body {
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, li,
figure, figcaption,
input, textarea, select,
button {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
}

ul, ol {
  list-style: none
}

a, a:hover, a:visited {
  text-decoration: none
}

button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
}