@import '../../../../styles/index';

.profileFolderTitle,
.profileFolderWrapper {
  z-index: 1000;
  position: relative;
  width: 50vw;
}
.profileFolderTitle {
  @include folderHeader;
}
.profileFolderWrapper {
  @include folderWrapper;
  padding: 1.5rem 2rem;

  & > h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .checkOrderHistory {
    text-align: center;
    margin-top: 1rem;

    button {
      @include button;
      font-size: 1.1rem;
      color: $white;
      background-color: $yellow;
      padding: 0.4rem 0.8rem 0.35rem;
    }
  }

  .signOut {
    @include button;
    color: $white;
    background-color: $red;

    padding: 0.5rem;
    margin-top: 1rem;
  }
}

.accountInfo {
  display: flex;
  flex-wrap: wrap;

  p {
    font-size: 1.2rem;
    width: 50%;
    margin-bottom: 1.5rem;
  }
  span {
    font-size: 1.2rem;
    @include borderInset;

    padding: 0.5rem;
    margin-top: 1.5rem;
  }
  strong {
    font-size: 1.35rem;
  }
}

.orderWrapper {
  @include borderInset;

  padding: 0.5rem;
  margin-top: 1rem;

  p {
    font-size: 1.1rem;
  }
  strong {
    font-size: 1.2rem;
  }
  .orderDate {
    margin-top: 0.5rem;
  }
}