@import '../../../../styles/index';

.signUpWrapper {
  z-index: 1000;
  position: relative;

  background: url('../../../../static/img/authBackground.png') center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;

  padding: 10rem 0 5rem;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signUpColumn {
  display: flex;
}

.signUpInput {
  border: 2px inset $white !important;
  margin: 1rem !important;
}

.signUpButton {
  @include button;
  font-size: 1.1rem;
  font-weight: 600;

  padding: 0.5rem 1rem;
  margin-top: 2rem;
}