@import '../../../../styles/vars';

.signUpWrapper {
  background: url('../../../../static/img/signupBackground.png') center no-repeat;
  background-size: contain;

  padding: 8rem 0;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signUpColumn {
  display: flex;
}

.signUpInput {
  border: 2px inset $white !important;
  margin: 1rem !important;
}

.signUpButton {
  @include button;
  max-width: 5.2rem;
  font-size: 1.1rem;
  font-weight: 600;

  padding: 0.5rem 0;
  margin-top: 2rem;
}