@import '../../../../styles/vars';

.totalPrice {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  padding: 1rem 0 0 1rem;
  margin-bottom: 2rem;
}

.createOrder {
  margin-left: 10rem;
}

.pokemonInfoWrapper {
  text-align: center;
  margin-bottom: 2rem;
}

.progressBar {
  position: relative;
  top: 15rem;
  width: 296px;
  height: 119px;

  background-image: url('../../../../static/img/progress0.png');
  animation: progress 0.8s 1;
  animation-fill-mode: forwards;

  margin: 0 auto;
}