@import '../../../../styles/vars';

.cartTitle {
  height: 1.3rem;
  width: 60vw;

  background: $blue;
  border: 3px solid;
  border-right-color: $border-color;
  border-bottom: none $border-color;

  margin: 0 auto;
}

.cartWrapper {
  color: $black;
  width: 60vw;
  max-height: 82vh;

  background: $silver;
  border: 3px solid $white;
  border-right-color: $border-color;
  border-bottom-color: $border-color;
  border-top: none;

  overflow-y: auto;

  padding: 1.5rem 2rem;
  margin: 0 auto;
}

.totalPrice {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;

  margin-bottom: 1.5rem;
}

.createOrderWrapper {
  text-align: center;

  .createOrderButton {
    @include button;
    font-size: 1.2rem;
    font-weight: 600;
    max-width: 8rem;

    padding: 0.45rem  0.3rem;
  }
}

.pokemonInfoWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.pokemonCard {
  margin: 0.6rem 0.5rem;

  .pokemonName {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;

    color: $white;
    background: $blue;
    border: 2px solid;
    border-right-color: $border-color;
    border-bottom: none $border-color;

    padding: 0.2rem 0;
  }

  .pokemonCardContent {
    text-align: center;

    border: 2px solid $white;
    border-right-color: $border-color;
    border-bottom-color: $border-color;
    border-top: none;

    padding: 0 1rem 0.7rem;

    .pokemonPrice {
      margin: 0.3rem 0 0.8rem;
    }
    .pokemonDelete {
      @include button;
      max-width: 4.5rem;
      padding: 0.2rem 0 0.1rem;
    }

    img {
      border: 2px inset $white;
      border-radius: 1px;

      margin: 0.5rem 0;
    }
  }
}

.progressBar {
  @include progressBar;
}