@import '../../../../styles/index';

.progressBar {
  @include progressBar;
}

.cartFolderTitle,
.cartFolderWrapper {
  z-index: 1000;
  position: relative;
  width: 60vw;
}
.cartFolderTitle {
  @include folderHeader;
}
.cartFolderWrapper {
  @include folderWrapper;
  padding: 1.5rem 2rem;
}

.cartFolderTotalPrice {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.pokemonCardWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.pokemonCard {
  margin: 0.6rem 0.5rem;

  .pokemonName {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;

    color: $white;
    cursor: pointer;
    background: $border-color;
    @include borderInset;
    border-bottom: none;

    padding: 0.3rem 0 0.25rem;
  }

  .pokemonCardContent {
    position: relative;
    text-align: center;

    line-height: 1.5rem;
    @include  borderInset;
    border-top: none;

    padding: 0 1rem 0.7rem;

    img {
      @include  borderInset;
      border-radius: 1px;

      cursor: pointer;

      margin: 0.5rem 0;
    }

    .pokemonCardQuantity {
      width: 40%;
      font-weight: 600;

      @include  borderInset;
      padding: 0.2rem 0.2rem 0 0;
    }

    .pokemonCardPrice {
      font-size: 1.1rem;
      margin: 1rem 0;
    }

    .pokemonDelete {
      @include button;
      color: $white;
      background-color: $red;
      font-weight: 400;
      padding: 0.45rem 0.8rem 0.25rem;
    }
  }
}

//.cardLoading {
//  position: absolute;
//  top: 6.2rem;
//  left: 2.7rem;
//}

.createOrderWrapper {
  text-align: center;

  .createOrderButton {
    @include button;
    font-size: 1.2rem;
    font-weight: 400;

    color: $white;
    background-color: $green;

    padding: 0.55rem 1rem 0.5rem;
  }
}